{% extends "base.html" %}

{% load highlight %}
{% load more_like_this %}

{% block content %}
<div class="container">
	<div class="row">
		{% if query %}
			{% if facets.fields.resource_type %}
				<div class="col-md-3">
					<h3>Facets</h3>
					<dl>
						<dt>Resource Type</dt>
						{% for rt in facets.fields.resource_type %}
							<dd><a href="{{ request.get_full_path }}&amp;selected_facets=resource_type_exact:{{ rt.0|urlencode }}">{{ rt.0 }}</a> ({{ rt.1 }})</dd>
						{% endfor %}					
					</dl>
				</div>
			{% endif %}
			<div class="col-md-9">
				<h3>Results</h3>
			{% for result in page.object_list %}
				{% if result.object.resource_type %}
					<p>
						({{ result.search_language }}) 
						<a href="{{ result.object.get_absolute_url }}">{{ result.object.prefLabel }}</a>
						<p class="snippet">{% highlight result.object.all_preferred_labels with query html_tag "span" css_class "bg-success" %}</p>
					</p>
				{% elif result.object.property_type %}
					<p>
						<a href="{% url 'thesaurus:detail' result.object.property_source.uri %}">{{ result.object.property_source }}</a> {{ result.object.property_type }} {{ result.object.property_text }}
					</p>
				{% elif result.object.relationship_type %}
					<p>
						<a href="{% url 'thesaurus:detail' result.object.relationship_source.uri %}">{{ result.object.relationship_source }}</a> {{ result.object.relationship_type }} <a href="{% url 'thesaurus:detail' result.object.relationship_target.uri %}">{{ result.object.relationship_target }}</a>
					</p>
				{% endif %}
			{% empty %}
				<p>No results found.</p>
			{% endfor %}
			
			{% more_like_this resource as related_content %}
		
			{% if page.has_previous or page.has_next %}
				<div class="row">
					<ul class="pager">
					{% if page.has_previous %}<li><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a></li>{% endif %}
					{% if page.has_next %}<li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a></li>{% endif %}
					</ul>
				</div>
			{% endif %}
		{% else %}
	
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}