{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <h1>{{ resource.pref_label }}</h1>
    {% for microthesaurus in microthesauri.all %}
    <ul class="breadcrumb">
        <li>{{ microthesaurus.resource_type }}: 
          <a href="{% url 'thesaurus:detail' microthesaurus.uri %}">{{ microthesaurus }}</a>
        </li>
    </ul>
    {% endfor %}
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Labels and Properties</div>
          <ul class="list-group">
          {% for property in resource.property_set.all %}
            <li class="list-group-item">{{ property }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Relationships</div>
          <ul class="list-group">
          {% for relationship in resource.relationship_set.all %}
            <li class="list-group-item">{{ relationship.relationship_type }} 
              <a href="{% url 'thesaurus:detail' relationship.relationship_target.uri %}">{{ relationship.relationship_target }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% if resource.match_set %}
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Matches in other data sets</div>
            <ul class="list-group">
            {% for match in resource.match_set.all %}
              {% if match.match_target %}
                <li class="list-group-item">
                {{ match.match_type }} <a href="{{ match.match_target }}">{{ match.match_target }}</a>
                </li>
              {% else %}
                <li class="list-group-item">
                {{ match.match_type }} <a href="{% url match.internal_scope match.match_internal_uri %}">{{ resource.pref_label }}</a> ({{ match.match_internal_view }})
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
