
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <h1>{{ concept_scheme.pref_label }}</h1>
      <div class="row">
        <div class="col-md-12">
          {% if domains %}
          <ul class="list-group">
            <li class="list-group-item disabled">Domains</li>
            {% for domain in domains.all %}
            <li class="list-group-item">{{ domain.resource_type }} 
              <a href="{% url 'thesaurus:collection' domain.uri %}">{{ domain }}</a>
            </li>
                
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
